<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>backbone_second</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="hero-unit">
      <h1>BackBone Feels</h1>
      <div id="feelsAdder"></div>
      <div id="feelsContainer"></div>
    </div>

    <script type="text/template" id="feels">

      <li id="<%= _id %>">I feel <%= title %> because <%= cause %></li>
    </script>

    <script type="text/template" id="addFeels">
      <form id="feelsAdd">
      I feel <input type="text" id="title"/>
      because <input type="text" id="cause"/>
      <br />
      
      <button> Add Feel</button>
      </form>
    </script>

    <script src="scripts/vendor.js"></script>

    <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
    </script>

    <script src="scripts/main.js"></script>


</body>
</html>
